.scrolleable {
  height: 1500px;
  position: inherit;
}

.fixed{
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  overflow: hidden;
}

#list {
  display: flex;
  gap: 48px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

