footer {
  background: black;
}

.footer .menu {
  padding: 160px 0px;
  color: var(--platinum);
}

footer .pattern {
  height: 480px;
  background-color: #000000;
  opacity: 1;
  background: repeating-linear-gradient( -45deg, #E5E3D0, #E5E3D0 16px, #000000 8px, #000000 42px );
}